name: Build and Publish to PyPI

on:
  push:
    tags:
      - "v*.*.*"
      
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['36', '37', '38', '39']

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

   - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Pull Docker image
      run: docker pull maydomine/bmtrain-manylinux:cu110

    - name: Run Docker image and execute script
      run: |
        version=${{ matrix.python-version }}
        docker run -e CUDACXX=/usr/local/cuda/bin/nvcc -e PATH="/workspace/cmake-3.26.4-linux-x86_64/bin:/opt/rh/devtoolset-7/root/usr/bin:$PATH" -e LD_LIBRARY_PATH="/opt/rh/devtoolset-7/root/usr/lib64:/opt/rh/devtoolset-7/root/usr/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:$LD_LIBRARY_PATH" -v ${{ github.workspace }}:/workspace/BMTrain -i maydomine/bmtrain-manylinux:cu110 /bin/bash -c "cd /workspace/BMTrain;/opt/python/cp${version}*/bin/python setup.py bdist_wheel -d ./dist/;/opt/python/cp${version}*/bin/python setup.py sdist -d ./dist/"
      
    - name: Archive distribution files
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set Up the Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Download distribution files
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist

    - name: Upload Distribution Files
      uses: softprops/action-gh-release@v1
      with:
        body_path: "Release.txt"
        files: ./dist/*
        prerelease: false
        token: ${{ secrets.RELEASE_TOKEN }}
        release_tag: ${{ steps.create_release.outputs.tag }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
      env:
        GITHUB_REPOSITORY: MayDomine/BMTrain
